.body{

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 65%;
  margin-left: auto;

  &__text{
    color: #E7833D;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: auto;
  }

  &__router{
    width: 100%;
  }

  @media (max-width: 1400px) {
    width: 60%;
  }
}

