.header{
  display: flex;
  position: relative;
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0 0 24px 24px;
  align-items: center;

  &__logo{
    display:inline-block;
    max-height: 70%;
    max-width: 202px;
    padding: 10px;
  }
  &__profile{
    position: absolute;
    right: 10px;
    display: inline-block;
    max-height: 70%;
    padding: 10px;
  }
}