.sidebar{
  list-style-type: none;
  background-color:#FDF1E9 ;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 30vw;
  bottom: 0;
  position: fixed;
  top: 0 ;

  &__logo{
    text-align: center;
    padding-bottom:20%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
  }

  &__image{
    height: auto;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }


}
