.button{
  display: flex;
  border: none;
  background-color: #E7833D;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 16px;
  padding: 16px 24px 16px 24px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 32px;



  &__image{
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;

  }

  &:hover{
    cursor: pointer;
    background-color: #e76609;
  }


}
