.biblioteca-template{
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }

  &__header{
    width: 100%;
    flex: 0 0 auto;
  }

  &__sidebar{
    flex: 0 0 auto;
    height: 100vh;
    position: fixed;
    top: 0;

  }

  &__body-admin{
    flex: 1 1 auto;
    margin-left: 30vw;
  }

}
