.item{
  list-style: none;
  background-color:#FDF1E9 ;
  color: #E7833D;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1.5rem;
  padding: 16px 24px 16px 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 100%;

  &__link{
    display: block;
    text-decoration: none;
    color: inherit;

    &__text{
      text-align: center;
    }
  }


  &__image{
    margin-right: 0.5rem;
    height: 20px;
    width: 20px;
  }

  &:hover, &__active{
    cursor: pointer;
    background-color: #E7833D66;
    font-weight: bolder;
    border-radius: 10px;

  }

}
